body{
    display: block;
    box-sizing: border-box;
    margin: 8px;
    font-size: 19px; /* Sets the font size to 19px */
    font-weight: 700; /*Sets the font weight to 700 */
    line-height: 1.9; /* Sets the line-height to 1.9 * the font-size */
    -webkit-text-size-adjust: 100%;
}

header{
    margin: 0px;
   position: fixed;
   z-index: 99;
   width: 100%;
   height: 160px;
   background: repeat;
   background-color: #f2f2f2;
   padding: 10px;
   display: block;
   top: 0px;
   clear: both;
   box-sizing: border-box;
   font-family: 'Nunito',sans-serif;
   font-weight: 800;
   font-size: 19px;/* Sets the font size to 19px */
   line-height: normal;
   color: #425058;
   box-shadow: 0 16px 8px 0 rgb(66 80 88/ 19%);
   }
    

div.navtoggle {
       position: absolute;
   }

main{
display: block;
box-sizing: border-box;
background-color: #fff;
font-family: 'Nunito',sans-serif;
font-size: 19px;
line-height: normal;
color: #425058;
}

h1,h2,h3,h4 {
    line-height: normal;
}

h1{
    font-size: 60px;
    font-weight: 800;
    color: #425058;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h2{
    font-size: 2.21em;
    font-weight: 800;
    color: #425058;
}

h3{
    font-size: 2em;
    font-weight: 700;
}

h4{
    font-size: 1.52em;
    font-weight: 800;
}

h6{
    font-size: 1.26em;
    font-weight: 700;
}


img { width: 100%; height: auto; margin: 20px 20px; display: block; }

.main-container {
    display: block;
    max-width: 1500px;
    padding: 0;
    margin: 0 125px 0 125px;
    box-sizing: border-box;
    }

.logo{
    max-width: 344px;
    padding-top: 10px;
    display: block;
    margin: 0 24px;
    margin-left: 20px;
}

div { display: block;}

.wrapper-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 1/3;
    column-gap: 20px;
    row-gap: 1em;
}

.left_column{
    margin-top: 210px;
    margin-left: 30px;
    width: 60%;
    height: auto;
}

.center_column{
    width: 110%;
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: 60px;
    padding-right: 10px;
}

.right_column{
width: 30%; 
margin-top: 210px; 
margin-left: auto;
padding-left: 20px;
}

.hero{
    text-align: center;
    display: block;
    box-sizing: border-box;
    top: 50px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
}

.pstar_2{
    float:right;
    width: 15%;
    height: auto;
    margin-top: 20px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-right: 60px;
    margin-left: 0px;
}
.pstar_1{
    float: left;
    width: 10%;
    height: auto;
    margin-top: 20px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.pstar_4{
    float: left;
    width: 5%;
    height: auto;
    margin-top: 15px;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.wrapper-2{
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column: 1/3;
    column-gap: 25px;
    row-gap: 2em;
   margin: auto;
   padding-left: 0px;
}

.explore{
margin-top: 120px;
margin-bottom: 10px;
margin-right: 0px;
padding-left: 0px;
margin-left: 0px;
text-align: left;
}

.mockup_f{
    width: 150%;
    height: auto;
    margin-top: 130px;
    margin-left: 10px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.pstar_3{
    float: none;
    width: 5%;
    height: auto;
    margin-top: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 90px;
}

.quote{
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.blink{
    margin-top: 0px;
    animation: blink 3s infinite;
}

@keyframes blink {
    100%{opacity: 1;
    transform: scale(0.5);}
    0%{opacity: 0;}
    100%{opacity: 1;
    transform: scale(1.1);}
}

.magicstar_1{
    float: left;
    width: 10%;
    height: auto;
    margin-top: 70px;
    margin-left: 40px;
    padding-right: 20px;
    margin-bottom: 0%;
    padding-top: 10px;
}

.magicstar_2{
    float: none;
    width: 8%;
    height: auto;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    padding-top: 10px;
}

.magicstar_3{
    float: right;
    width: 12%;
    height: auto;
    margin-top: 36px;
    margin-right: 30px;
    margin-bottom: 0%;
    padding-top: 10px;
}

.magicstar_4{
    float: left;
    width: 10%;
    height: auto;
    margin-top: 40px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 0px;
    margin-bottom: 0%;
    padding-top: 10px;
}

.magicgif{
    float: none;
    width: 80%;
    height: auto;
    top: 0px;
    margin-top: 0px;
    margin-bottom: auto;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


.wand{
    float: right;
    width: 38%;
    padding-top: 0px;
    padding-bottom: 150px;
    margin-bottom: 0px;
    animation: wand 2s ease infinite;
    transform-origin: center;
}

@keyframes wand{
    from{
transform: rotateZ(0deg);
    }
    to{
transform: rotateZ(-30deg);
    }
}


.projects{
margin-top: 150px;
margin-bottom: 60px;
padding-top: 150px;
padding-left: 30px;
padding-right: 30px;
}

.recipe{
    background-color: #425058;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 80px;
}

.recipeimage{
    width: 90%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #fff;
}

.recipeinfo{
    text-align: center;
    display: block;
    box-sizing: content-box;
    padding: 30px;
    color: #fff;
}

.trail{
    background-color: #425058;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 80px;
}

.trailimage{
    width: 90%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #fff;
}

.trailinfo{
    text-align: center;
    display: block;
    box-sizing: content-box;
    padding: 30px;
    color: #fff;
}

.furnest{
    background-color: #425058;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 80px;
}

.furnestimage{
    width: 90%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #fff;
}

.furnestinfo{
    text-align: center;
    display: block;
    box-sizing: content-box;
    padding: 30px;
    color: #fff;
}

.prolific{
    background-color: #425058;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 80px;
}

.prolificimage{
    width: 90%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #fff;
}

.prolificinfo{
    text-align: center;
    display: block;
    box-sizing: content-box;
    padding: 30px;
    color: #fff;
}

.note{
    background-color: #425058;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 80px;
}

.noteimage{
    width: 90%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #fff;
}

.noteinfo{
    text-align: center;
    display: block;
    box-sizing: content-box;
    padding: 30px;
    color: #fff;
}

.chatbox{
    background-color: #425058;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 80px;
}

.chatboximage{
    width: 90%;
    height: auto;
    padding: 20px;
    margin-right: 0px;
    border: 2px solid #fff;
}

.chatboxinfo{
    text-align: center;
    display: block;
    box-sizing: content-box;
    padding: 30px;
    color: #fff;
    text-align: center;
}

.painting{
 margin-top: 150px;
padding-top: 50px;
padding-left: 60px;
padding-right: 60px;
}

.paint-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 1em;
    padding-left: 30px;
    padding-right: 30px;
}

.paintbutton{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 45%;
    margin-right: -50%;
    align-items: center;
}

.button{
    display: inline-block;
    background-color: #425058;
    color: #fff;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    border-radius: 1px;
    transition: 0.2s opacity;
}

.about_me{
margin-top: 30px;
display: block;
box-sizing: border-box;
max-width: 1500px;
padding: 0;
margin: 0 125px 0 125px;
}

.aboutwrapper{
    margin-top: 40px;
    padding-top: 40px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-column: 1/3;
    column-gap: 60px;
    row-gap: 2em;
   margin: 5px;
}

.myprofile{
    border: 3px solid #425058; 
    border-radius: 2px;
     padding: 10px; 
     width: 80%;
    height: auto;
}

.aboutinfo{
    padding: 50px;
    display: inline-block;
    text-align: left;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.aboutskills{
    margin-top: 0px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/2;
    column-gap: 40px;
    row-gap: 2em; 
}

.field1{
    width: 40%;
    height: auto;
    display: block;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.field_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/2;
    column-gap: 40px;
    row-gap: 2em; 
    margin-left: 60px;
}

.field4{
    width: 38%;
    height: auto;
    display: block;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.field5{
    width: 38%;
    height: auto;
    display: block;
    padding-bottom: 10px;
    left: 0px;
    float: right;
    margin-right: 90px;
    margin-bottom: 80px;
}

.cv_button{
    display: inline-block;
    background-color: #425058;
    color: #fff;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    border-radius: 1px;
    transition: 0.2s opacity;
    margin-top: 250px;
    margin-left: 45%;
    margin-right: -50%;
    align-items: center;
}

.painting_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1/2;
    column-gap: 40px;
    row-gap: 2em; 
}

.title{
    position: relative;
}

.imagefr1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.imagefr2{
    position: absolute;
    padding-left: 5px;
    top: 40px;
    left: 50px;
    z-index: 3;
}

.leaves{
    width: 24%;
    float: right;
    left: 0px;
    margin-top: 100px;
    padding-top: 600px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.recipe-intro{
    margin-top: 100px;
    padding-top: 750px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 80px;
    row-gap: 1em;
}

.recipe_role{
    background-color: rgb(180 236 154/ 65%);
}


footer{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    background: repeat;
    background-color: #f2f2f2;
    bottom: 0px;
font-family: 'Nunito', sans-serif;
}

.footer-container{
    padding: 0 120px 0 120px;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.cta{
    margin: 35px 0 20px;
    box-sizing: border-box;
    display: block;
}

.social{
    box-sizing: border-box;
    display: block;
}

.social > a {
    margin: 20px;
}



/* ==============================
Small devices (320px and larger)
================================= */
@media only screen and (min-width: 320px) {

    header{
        height: auto;
    }

    .logo{
        width: 50%;
        height: auto;
        padding-top: 10px;
        display: block;
        margin: 0 10px;
    }


    .main-container {
        display: block;
        max-width: 320px;
        padding: 0;
        margin: 0 18px 0 18px;
        box-sizing: border-box;
        }

     .left_column{
            margin-top: 150px;
            margin-left: 5px;
            padding-left: 5px;
            padding-right: 10px;
            width: 80%;
            height: auto;
        }

        .center_column{
            width: 130%;
            margin-top: 140px;
            display: block;
            margin-left: auto;
            margin-right: 90px;
        }

        .hero{
            padding-left: 0px;
            padding-right: 0px;
        }
  
        

 
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

    .main-container {
        display: block;
        max-width: 640px;
        padding: 0;
        margin: 0 24px 0 24px;
        box-sizing: border-box;
        }
        
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

    .main-container {
        display: block;
        max-width: 1024px;
        padding: 0;
        margin: 0 85px 0 85px;
        box-sizing: border-box;
        }
}

/* ==============================
X-large devices (1200px or larger)
================================= */
@media only screen and (min-width: 1200px) {

    header{
        width: 100%;
        height: 160px; 
    }

    .main-container {
        display: block;
        max-width: 1200px;
        padding: 0;
        margin: 0 100px 0 100px;
        box-sizing: border-box;
        }

        .logo{
            max-width: 344px;
            padding-top: 10px;
            display: block;
            margin: 0 24px;
            margin-left: 20px;
        }
